<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <%day = Time.new.day%>
        <%month = Time.new.month%>
        <%year = Time.new.year%>
        <h1>The date is <%="#{month} #{day}, #{year}"%></h1>
    </body>
</html>